<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Reviewal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.ico') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-W2RDJENCMT"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-W2RDJENCMT');
        </script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{{ include('partial/_navbar.html.twig') }}
{{ include('partial/_flash.messages.html.twig') }}
{% block body %}
{% endblock %}

<div>

</div>

</body>
</html>
